<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.megasoft.entangle"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.megasoft.entangle.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.megasoft.entangle.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.megasoft.entangle.HomeActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.megasoft.entangle.RegisterActivity"
            android:label="@string/app_name" >
        </activity>
=======
        <activity
            android:name="com.megasoft.entangle.Claim"
            android:parentActivityName="com.megasoft.entangle.Request" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.megasoft.entangle.MainActivity" />
        </activity>
        <activity
            android:name="com.megasoft.entangle.TangleActivity"
            android:label="@string/title_activity_view_stream" >
        </activity>
        <activity
            android:name="com.megasoft.entangle.Members"
            android:label="@string/title_activity_members" >
        </activity>
        <activity
            android:name="com.megasoft.entangle.ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name="com.megasoft.entangle.InviteUserActivity"
            android:label="@string/title_activity_invite_users" >
        </activity>
        <activity
            android:name="com.megasoft.entangle.RequestActivity"
            android:label="@string/title_activity_request" >
        </activity>
        <activity
            android:name="com.megasoft.entangle.acceptPendingInvitation.AcceptPendingInvitationActivity"
            android:label="@string/title_activity_accept_pending_invitation" >
        </activity>
        <activity
            android:name="com.megasoft.entangle.acceptPendingInvitation.ManagePendingInvitationActivity"
            android:label="@string/title_activity_manage_pending_invitation" >
        </activity>
        <activity
            android:name="com.megasoft.entangle.EditProfileActivity"
            android:label="@string/title_activity_edit_profile"
            android:parentActivityName="com.megasoft.entangle.ProfileActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.megasoft.entangle.ProfileActivity" />
        </activity>
        <activity
            android:name="com.megasoft.entangle.OfferActivity"
            android:label="@string/title_activity_offer" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.megasoft.entangle.CreateRequestActivity"
            android:label="@string/title_activity_request_information" >
        </activity>
        <activity
            android:name="com.megasoft.entangle.CreateOfferActivity"
            android:label="@string/title_activity_create_offer" >
        </activity>
        <activity
            android:name="com.megasoft.entangle.ChangeOfferPriceActivity"
            android:label="@string/title_activity_change_offer_price" >
        </activity>
        <activity
            android:name="com.megasoft.entangle.viewtanglelsit.TangleStreamActivity"
            android:label="@string/title_activity_tangle_stream" >
        </activity>
        <activity
            android:name="com.megasoft.entangle.CreateTangleActivity"
            android:label="@string/title_activity_create_tangle" >
        </activity>
    </application>

</manifest>