{% extends "::base.html.twig" %}

{% block title %}MegasoftEntangleBundle:Site:createdTangle{% endblock %}

{% block body %}
    <p>
        Congratulations! Your tangle has been created !
    </p>

{% endblock %}