{% extends "::base.html.twig" %}

{% block title %}MegasoftEntangleBundle:Site:createTangle{% endblock %}

{% block body %}
    You don't own any tangles . Do you want to create one :D ?
    <br>
    <form class="createTangleForm" method="POST" enctype='multipart/form-data' role="form"
          action="{{ path('create_tangle_from_website') }} ">
        Tangle Name: <input type="text" name="tangleName"><br>
        Tangle Icon:
        <input type="image"
               src="img/test.png"
               name="tangleIcon"
               alt="tangleIcon"
                />
        <br>
        <input type="submit" name="submit" value="Submit">
        <input type="reset" name="reset" value="Reset">
    </form>

{% endblock %}