{% extends "::base.html.twig" %}

{% block title %}MegasoftEntangleBundle:Site:index{% endblock %}

{% block body %}
         <div class="single-page-nav">
            <ul>
                <li><a href="#entangle">Entangle</a></li>
                <li><a href="#what-is-entangle">What is Entangle ?</a></li>
                <li><a href="#register">Register</a></li>
                <li><a href="#about-us">About Us</a></li>
            </ul>
        </div>

        <div class="section fulled" id="entangle">
        	<div class="center-vertically">
            	<h1 class="text-center entangle">Entangle</h1>
            </div>	
        </div>

        <div class="section section-even fulled" id="what-is-entangle">
            <div class="row">
            	<div class="col-md-4" style="background:white;min-height:100%;">
            		<br>
            		<br>
            		<br>
            		<br>
            		<br>
            		<br>
            		<br>
            		<br>
            		<br>
            		<br>
            		<br>
            		<br>
            		<br>
            		<br>
            		<br>
            		
            	</div>

            	<div class="col-md-8">
            		<h1 class="text-center">What is Entangle ?</h1>
            	</div>

            </div>
        </div>


        <div class="section halfed" id="register">
        	<div class="center-vertically">
	        	<div class="row">
	        		<h1 class="text-center">Register Now !</h1>
	        	</div>

	        	<div class="row" style="margin-top:30px;">
	        		<div class="col-md-4 col-md-offset-4">
		        		<button class="btn btn-success" style="width:100%;">
		        			<a href="" style="color:white;">
		        				Register !
		        			</a>
		        		</button>
	        		</div>
	        	</div>
        	</div>
            
        </div>
        <div class="section section-even halfed" id="about-us">
            <div class="center-vertically">
	        	<div class="row">
	        		<h1 class="text-center">About Us !</h1>
	        	</div>

	        	<div class="row" style="margin-top:30px;">
	        		<div class="col-md-4 col-md-offset-4">
		        		<button class="btn btn-info" style="width:100%;">
		        			<a href="" style="color:white;">
		        				Register !
		        			</a>
		        		</button>
	        		</div>
	        	</div>
        	</div>
        </div>
        <div class="footer">
	        	<div class="center-vertically text-center">
	        		<p style="color:white;">Some random vertically and horizontally centered white text </p>
	        	</div>
        </div>
{% endblock %}
