{% extends "::base.html.twig" %}

{% block title %}MegasoftEntangleBundle:Site:selectTangle{% endblock %}

{% block body %}
    Choose one of these tangles to go to :D
    {% for tangle in tangles %}
        <p>
            <a href="/tangle/{{ tangle.id }}/{{ sessionId }}"> {{ tangle.name }}</a>
            <br>
        </p>

    {% endfor %}
{% endblock %}