{% extends "::base.html.twig" %}

{% block title %}MegasoftEntangleBundle:Site:selectTangle{% endblock %}

{% block body %}
  {%  for tangle in tangles %}
    <a href="/tangle/{% tangle.id %}"> {% tangle.name %}</a>
  {%  endfor %}
{% endblock %}