{% extends "::base.html.twig" %}

{% block title %}MegasoftEntangleBundle:Site:wrongTangle{% endblock %}

{% block body %}
    <p>
        {{ status }}

    </p>
    <p>
        {{ message }}
    </p>
{% endblock %}