{% extends "::base.html.twig" %}

{% block title %}MegasoftEntangleBundle:Site:index{% endblock %}

{% block body %}


    <link href="as" rel="stylesheet">
<div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" >

                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand " href="index.html"><b>Entangle</b></a>
        </div>

        <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav">
                <li><a href="homepage">Home</a></li>
                <li class="active"><a href="register">Register</a></li>
                <li><a href="about">About</a></li>

            </ul>
        </div>
    </nav>

</div>



    <div class="container">

        <form class="form-signin" role="form" method="POST" enctype='multipart/form-data' action="{{ path('megasoft_entangle_register') }}" data-validate="parsley">

            <h2 class="form-signin-heading">Register</h2>

            <input type="text" name="name" class="form-control" placeholder="Username" required autofocus >
            <input type="email" name="email" class="form-control" placeholder="Email Address" required autofocus>

            <input type="password" name="password" class="form-control" placeholder="Password" required autofocus >

            <input type="password" name="confirmPassword" class="form-control" placeholder="Confirm Password" required autofocus >

            <textarea name="userBio" class="form-control" placeholder="Biography" required autofocus ></textarea>


            <input type="text" placeholder="Date Of Birth: YYYY-MM-DD" name="birthDate" class="input-xlarge form-control" required autofocus>
            <label for="img">Picture :
                <input type="file" name="img" class="input-xlarge form-control"></label>

            <label class="checkbox">
                <input type="checkbox" value="remember-me" required autofocus> I Agree to Entangle <a href="www.entangle.io/termsOfService">Terms of Service</a>
            </label>

            <button class="btn btn-success btn-large" type="submit" >Register</button>






        </form>

    </div>

    <div class="ftr">

        <div class="container">
            <div class="row">
                <footer>
                    <div class="pull-left ft_space">
                        <address>
                            <h3>Entangle Inc.</h3>
                            MegaSoft-14 <br>
                            German University in Cairo <br>
                            Cairo <br>
                            Egypt<br>

                            <a href="mailto: Entangle@entangle.io">Entangle@entangle.io</a><br>

                            <a href="mailto: Entangle@entangle.io">Entangle@entangle.io</a>

                            <abbr title="Phone">P:</abbr>123-456-789
                        </address>
                    </div>
                    <div class="pull-right ft_space">

                    <!--    <img class="img-responsive" src={{ asset('images/logo.jpg') }} /> -->

                       <!-- <img src="{{ asset('bundles/megasoftentanglebundle/images/logo.gif') }}"> -->

                        <p>&copy; Entangle Inc. 2014</p>

                    </div>
                </footer>
            </div>
        </div>
    </div>
{% endblock %}