{% extends "::base.html.twig" %}

{% block title %}MegasoftEntangleBundle:Site:index{% endblock %}

{% block body %}


    <html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Entangle</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

    </head>
    <body>
    <!-- navbar -->
    <div class="navbar-wrapper">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <!-- Responsive navbar -->
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </a>
                    <h1 class="brand"><a href="index.html">Entangle</a></h1>
                    <!-- navigation -->
                    <nav class="pull-right nav-collapse collapse">
                        <ul id="menu-main" class="nav">
                            <li><a title="team" href="{{ path('megasoft_entangle_register') }}#about">About</a></li>
                            <li><a title="download" href="{{path('megasoft_entangle_register')}}#download">Download</a></li>
                            <li><a title="register" href="{{ path('megasoft_entangle_register') }}#register">Register</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
<!-- spacer section -->
<section class="spacer green">
<div class="container">
	<div class="row">
		<div class="span12 aligncenter flyUp">
			<h2 class="pagetitle">Congratulations, {{ username }} your additional E-mail has been verified,Enjoy using Entangle! </strong></h2>
		</div>
	</div>
</div>
</section>
<!-- end spacer section -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="span6 offset3">
                    <ul class="social-networks">
                        <li><a href="#"><i class="icon-circled icon-bgdark icon-instagram icon-2x"></i></a></li>
                        <li><a href="https://twitter.com/EntangleIO"><i class="icon-circled icon-bgdark icon-twitter icon-2x"></i></a></li>
                        <li><a href="#"><i class="icon-circled icon-bgdark icon-dribbble icon-2x"></i></a></li>
                        <li><a href="#"><i class="icon-circled icon-bgdark icon-pinterest icon-2x"></i></a></li>
                    </ul>
                    <p class="copyright">
                        &copy; 2014 Entangle Inc corporate. All rights reserved.
                    </p>
                </div>
            </div>
        </div>
        <!-- ./container -->
    </footer>
{% endblock %}
