<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
             {% stylesheets '@MegasoftEntangleBundle/Resources/public/css/*' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
                
            {% javascripts '@MegasoftEntangleBundle/Resources/public/js/*' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>  
            {% endjavascripts %}


        {% endblock %}
    </body>
</html>
