<div class="ftr">
    <div class="container">
        <div class="row">
            <footer>
                <div class="pull-left ft_space">
                    <address>
                        <h3>Entangle Inc.</h3>
                        MegaSoft-14 <br>
                        <a href="http://www.guc.edu.eg"> German University in Cairo </a><br>
                        Cairo <br>
                        Egypt<br>

                        <a href="mailto: Entangle@entangle.io">Entangle@entangle.io</a><br>

                        <abbr title="Phone">P:</abbr>123-456-789
                    </address>
                </div>
                <div class="pull-right ft_space">

                    <img class="img-responsive resize img-circle" src={{ asset('images/entanglea.png') }} /> <br>

                    <!-- <img src="{{ asset('bundles/megasoftentanglebundle/images/logo.gif') }}"> -->

                    <p>&nbsp;&nbsp;&nbsp;&copy; &nbsp;&nbsp;&nbsp;   Entangle Inc. 2014</p>

                </div>
            </footer>
        </div>
    </div>
</div>