body{
	background-color: #000000;

}
#title{
	text-align: center;
	font-size: 40px;
	color: #ffffff;
	font-family: "Myriad pro"
}
#child{
	color: #ffffff;
	font-size:13px;
	margin-left: 300px;
	position: fixed;
}
img{
  margin-left:100px;
  margin-top:10px;
  padding: 5px;
  border-radius: 500px;
  height:500px;
  width: 500px;
  hove
  }
  img:hover{
  	opacity: 0.5;
  }
p{
	text-align: left;
	font-size: 18px;
	color: #ffffff;
	font-family: "Myriad pro"
}
div{
	float: left;
	position: relative;
}