<div class="container">

    <form class="form-register" class="well" method="POST" action="{{ path('megasoft_entangle_register') }}" data-validate="parsley">
        <h2>Sign up</h2>
        <label>Username</label>
        <input type="text" name="name" class="input-xlarge" data-trigger="change" >
        <label>Email</label>
        <input type="email" name="email" class="input-xlarge">
        <label>Password</label>
        <input type="password" name="password" class="input-xlarge" data-trigger="change" >
        <label>Confirm Password</label>
        <input type="password" name="confirmPassword" class="input-xlarge" data-trigger="change" >
        <label>Biography</label>
        <input type="text" name="userBio">
        <label>Date Of Birth</label>
        <input type="datetime" name="birthDate">


        <div>
            <button class="btn btn-primary" type="submit" >Register</button>
        </div>

    </form>
</div>