{%extends "MegasoftEntangleBundle:Default:index.html.twig"%}

<div class ="container">
<form id="form" class="well" method="POST">
    <h2>Register</h2>
    <label>Username</label>
    <input type="text" name="username" class="input-xlarge">
    <Label>First Name</Label>
    <input type="text" name="firstname" class="input-xlarge">
    <Label>Password</Label>
    <input type="text" name="password" class="input-xlarge">
    
    <div>
        <button class="btn btn-primary" type="submit">Create</button>
    </div>
</form>
</div>